
[class^="icon-"], [class*=" icon-"] {
    display: inline-block;
    vertical-align: middle;
    background: url('../icons/sprite/view/sprite.png');
    background: url('../icons/sprite/view/sprite.svg');
}

{{#shapes}}
.icon-{{base}} {
	width: {{width.inner}}px;
	height: {{height.inner}}px;
	background-position: {{position.absolute.x}}px {{position.absolute.y}}px;
}
{{/shapes}}