
[class^="icon-"], [class*=" icon-"] {
    display: inline-block;
    vertical-align: middle;
    background: url('../icons/sprite/view/sprite.png');
    background: url('../icons/sprite/view/sprite.svg');
}

.icon-arrow-bottom {
	width: 13px;
	height: 23px;
	background-position: -137px -95px;
}
.icon-arrow-right {
	width: 15px;
	height: 9px;
	background-position: -167px -142px;
}
.icon-arrow-top {
	width: 13px;
	height: 23px;
	background-position: -150px -95px;
}
.icon-bilette {
	width: 137px;
	height: 138px;
	background-position: 0px 0px;
}
.icon-clock {
	width: 16px;
	height: 16px;
	background-position: -167px -126px;
}
.icon-close {
	width: 20px;
	height: 20px;
	background-position: -137px -118px;
}
.icon-facebook {
	width: 8px;
	height: 16px;
	background-position: -167px -83px;
}
.icon-famille {
	width: 30px;
	height: 30px;
	background-position: -137px 0px;
}
.icon-handicap {
	width: 20px;
	height: 25px;
	background-position: -137px -30px;
}
.icon-instagram {
	width: 16px;
	height: 16px;
	background-position: -167px -53px;
}
.icon-location {
	width: 13px;
	height: 18px;
	background-position: -37px -138px;
}
.icon-loop {
	width: 16px;
	height: 19px;
	background-position: -21px -138px;
}
.icon-menu {
	width: 24px;
	height: 16px;
	background-position: -137px -79px;
}
.icon-phone {
	width: 18px;
	height: 18px;
	background-position: -167px -18px;
}
.icon-play {
	width: 18px;
	height: 18px;
	background-position: -167px 0px;
}
.icon-print {
	width: 16px;
	height: 14px;
	background-position: -167px -69px;
}
.icon-status {
	width: 16px;
	height: 17px;
	background-position: -167px -36px;
}
.icon-textsize {
	width: 21px;
	height: 21px;
	background-position: 0px -138px;
}
.icon-twitter {
	width: 16px;
	height: 14px;
	background-position: -167px -99px;
}
.icon-warning {
	width: 16px;
	height: 13px;
	background-position: -167px -113px;
}
.icon-weather {
	width: 24px;
	height: 24px;
	background-position: -137px -55px;
}
.icon-youtube {
	width: 18px;
	height: 13px;
	background-position: -50px -138px;
}
